@model CinemaTicketBooking.Models.SuperAdminViewModels.CinemaViewModel

@{
    ViewData["Title"] = "My Cinema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top:20px;">
            <div class="col-lg-8">
                <img class="img-responsive img-rounded" src="@Url.Content("~/images/"+Model.CinemaProfilePicture)">
                <!-- take out img-rounded if you don't want the rounded corners on the image -->
            </div>
            <div class="col-lg-4">
                <h1>@Html.DisplayFor(model => model.CinemaName)</h1>
                <p>@Html.DisplayFor(model => model.CinemaDescription)</p>
                <a role="button" class="btn-block btn btn-warning" asp-action="EditMyCinema">Edit cinema details</a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Check out the newest movies in our cinema!
                </div>
            </div>
        </div>

        <div class="row" style="padding: 15px;">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/avengers.png" alt="Avengers poster" class="img-responsive">
                    <div class="caption">
                        <h3>Avengers: Endgame</h3>
                        <p>Adrift in space with no food or water, Tony Stark sends a message to Pepper Potts as his oxygen supply starts to dwindle.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/capitain.jpg" alt="Avengers poster" class="img-responsive">
                    <div class="caption">
                        <h3>Captain Marvel</h3>
                        <p>Captain Marvel is an extraterrestrial Kree warrior who finds herself caught in the middle of an intergalactic battle between her people and the Skrulls.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/wick.jpg" alt="Avengers poster" class="img-responsive">
                    <div class="caption">
                        <h3>John Wick: Chapter 3</h3>
                        <p>Legendary hit man John Wick must fight his way out of New York when a $14 million contract on his life makes him the target of the world's top assassins.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/incredibles.jpg" alt="Avengers poster" class="img-responsive">
                    <div class="caption">
                        <h3>Incredibles 2</h3>
                        <p>Everyone’s favorite family of superheroes is back in “Incredibles 2” – but this time Helen is in the spotlight, leaving Bob at home with Violet and Dash to navigate the day-to-day heroics of “normal” life.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <!-- JavaScript -->
    <script src="~/my_cinema/js/jquery-1.10.2.js"></script>
    <script src="~/my_cinema/js/bootstrap.js"></script>

</body>

</html>
