@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<img class="img-responsive center-block" width="200" height="200" src="~/images/applogo.png" alt="Chania">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus vulputate eu scelerisque felis imperdiet. Adipiscing vitae proin sagittis nisl rhoncus. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Ultrices dui sapien eget mi proin. Nunc congue nisi vitae suscipit tellus mauris a diam. Nunc eget lorem dolor sed viverra ipsum nunc. Nec dui nunc mattis enim ut. Vehicula ipsum a arcu cursus vitae congue. Pellentesque id nibh tortor id aliquet lectus proin nibh. Nunc congue nisi vitae suscipit tellus mauris. Ut etiam sit amet nisl purus in mollis. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Integer eget aliquet nibh praesent tristique magna. Eleifend quam adipiscing vitae proin sagittis..</p>
