@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/avengers-banner.jpg" alt="Avengers Banner" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <kbd>Avengers: Endgame</kbd>
                    <a class="btn btn-primary small">
                        Book now
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/panther.jpg" alt="Avengers Banner" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <kbd>Black Panther</kbd>
                    <a class="btn btn-primary small">
                        Book now
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/star-is-born.jpg" alt="Avengers Banner" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <kbd>A Star Is Born</kbd>
                    <a class="btn btn-primary small">
                        Book now
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/windows.jpg" alt="Avengers Banner" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <kbd>Widows</kbd>
                    <a class="btn btn-primary small">
                        Book now
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" style="padding: 15px;">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/images/avengers.png" alt="Avengers poster" class="img-responsive">
            <div class="caption">
                <h3>Avengers: Endgame</h3>
                <p>Adrift in space with no food or water, Tony Stark sends a message to Pepper Potts as his oxygen supply starts to dwindle.</p>
                <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/images/capitain.jpg" alt="Avengers poster" class="img-responsive">
            <div class="caption">
                <h3>Captain Marvel</h3>
                <p>Captain Marvel is an extraterrestrial Kree warrior who finds herself caught in the middle of an intergalactic battle between her people and the Skrulls.</p>
                <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/images/wick.jpg" alt="Avengers poster" class="img-responsive">
            <div class="caption">
                <h3>John Wick: Chapter 3</h3>
                <p>Legendary hit man John Wick must fight his way out of New York when a $14 million contract on his life makes him the target of the world's top assassins.</p>
                <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/images/incredibles.jpg" alt="Avengers poster" class="img-responsive">
            <div class="caption">
                <h3>Incredibles 2</h3>
                <p>Everyone’s favorite family of superheroes is back in “Incredibles 2” – but this time Helen is in the spotlight, leaving Bob at home with Violet and Dash to navigate the day-to-day heroics of “normal” life.</p>
                <p><a href="#" class="btn btn-primary" role="button">Book now</a></p>
            </div>
        </div>
    </div>
</div>
