@model CinemaTicketBooking.Models.SuperAdminViewModels.CinemaViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new cinema</h2>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cinema Admin</label>
                <select asp-for="AdminUserId" class="form-control" asp-items="ViewBag.AdminUserId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Cinema Name</label>
                <input asp-for="CinemaName" class="form-control" />
                <span asp-validation-for="CinemaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cinema Description</label>
                <input asp-for="CinemaDescription" class="form-control" />
                <span asp-validation-for="CinemaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">City</label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Street Name</label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" style="height:auto" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a role="button" class="btn btn-primary" asp-action="Index">Back to List</a>
                @*<div>
                    <a role="button" class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>*@
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
