@model CinemaTicketBooking.Models.SuperAdminViewModels.MovieViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://rawgit.com/tempusdominus/bootstrap-3/master/build/js/tempusdominus-bootstrap-3.js"></script>
    <link href="https://rawgit.com/tempusdominus/bootstrap-3/master/build/css/tempusdominus-bootstrap-3.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>

<h2>Add new movie</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="CreateMovieForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <select asp-for="CinemaId" class="form-control" asp-items="ViewBag.CinemaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MovieGenreId" class="control-label"></label>
                <select asp-for="MovieGenreId" class="form-control" asp-items="ViewBag.MovieGenreId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsBookable" /> @Html.DisplayNameFor(model => model.IsBookable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieDescription" class="control-label"></label>
                <input asp-for="MovieDescription" class="form-control" />
                <span asp-validation-for="MovieDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieLength" class="control-label"></label>
                <input asp-for="MovieLength" class="form-control" />
                <span asp-validation-for="MovieLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForAdults" class="control-label"></label>
                <input asp-for="PriceForAdults" class="form-control" />
                <span asp-validation-for="PriceForAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForChildrens" class="control-label"></label>
                <input asp-for="PriceForChildrens" class="form-control" />
                <span asp-validation-for="PriceForChildrens" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" style="height:auto" />
            </div>
            <label asp-for="ShowTime" class="control-label"></label>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input asp-for="ShowTime" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

<div>
    <a role="button" class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
